# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Bitburner
bitburner-filesync.json
index.d.ts

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# AI & Context
.gemini/

gha-creds-*.json
